.employees {
    display:flex;
    flex-direction:row;
    flex:wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content:space-evenly;
    /* margin-top:10vh; */
}

.empCard {
    border:1px solid black;
    display: flex;
    justify-content: space-evenly;
    flex: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
}

.empImg {
    width: 8rem;
    height: 8rem;
}

.empCardTitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.card-link {
    margin: 12px 0 0 0;
    font-size: 0.7em;
}

.hireEmployeeButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
  }

  #hireEmpBtn {
      margin-top: 1vh;
      margin-bottom: 3vh;
      margin-left:auto;
      margin-right:auto;
  }

  .empCardBody p {
      font-size: 14px;
  }

  .header {
      text-align:center;
      margin-top:10vh;
  }

  .search-form-control {
      width:30%;
  }